<div id="landingPage">
	

<div class="landingPageText">
	<h1>Reduce your organization’s monthly energy bill.</h1>
	<h1>Spend the money on what really matters.</h1>
	
	<%= link_to({:controller => "user" , :action => "create" }) do %>
 <button class="signupButton">SIGN UP FREE</button>
 	<% end %>
</div>


</div>

<div class="landingPageParagraphs">
	<h1>Get a free utility audit report</h1>
	<p>Schedule a free energy audit with MassSave through your organization’s Woodtable account.</p> 
	<p>
	As soon as your building gets checked out, we’ll give you a report that summarizes your water and energy usage and how you compare with similar facilities in Massachusetts. We can keep track of your monthly usage for as long as you want.
	</p>

	<h1>We’ll find you ways to save</h1>

<p>The report will give you suggestions for improving your organization’s energy efficiency, so you can lower your overhead and help the environment at the same time.</p>

<p>We’ll also connect you to local discounts, rebates, and subsidized retrofits so you can start using your funds for bigger things.</p>

<p>It’s easy and completely free.</p> 

<h1>How do I start?</h1>

<p>It’s simple! All we need is your organization’s name, tax ID number, and an administrator’s contact information. We’ll generate your results, and your discounts, all in one place.</p>
<%= link_to({:controller => "user" , :action => "create" }) do %>
 <button class="signupButton">SIGN UP FREE</button>
 <% end %>
</div>
