
<!-- https://jqueryui.com/datepicker/ -->

<!-- http://api.jqueryui.com/datepicker/#option-showOn -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>datepicker demo</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
</head>
<body>

<<<<<<< HEAD

<h1 id="calendarHeader">We think you should be spending your time helping people, not ---</h1>

<h2>Choose three dates when your organization is available for an audit. You will be contacted by MassSave by email confirming the date and time shortly.</h2>


<div id = "successful_email"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1 id="calendarHeader">We think you should be spending your time on your mission, not sorting through energy offers.</h1>
      <h2>Choose three dates when your organization is available for an audit. You will be contacted by MassSave by email confirming the date and time shortly.</h2>
    </div>
    <div class="col-sm-6">
      <div id = "successful_email"></div>



<div id="datepicker"></div>


<p id = "first">no first date selected</p>
<p id = "second">no second date selected</p>
<p id = "third">no third date selected</p>


<button type="button" id = "submit_button" onclick = "submit_dates();">submit</button>
    </div>
  </div>
  
</div>

<script>

// $( "#datepicker" ).datepicker();

// $( "#datepicker").


var date1 = "";
var date2 = "";
var date3 = "";

$(function() {
    $('#datepicker').datepicker( {
        onSelect: function(date) {

        	if(date1 == ""){
        		date1 = date;
        		$("#first").text(date);
        		console.log("date1 is: " + date1);
        	}
        	else if(date2 == ""){
        		date2 = date;
        		$("#second").text(date);
        		console.log("date2 is: " + date2);
        	}
        	else{
        		date3 = date;
        		$("#third").text(date);
        		console.log("date3 is: " + date3);
        	}

            //alert(date);
        },
        selectWeek: true,
        inline: true,
        startDate: '01/01/2000',
        firstDay: 1
    });
});
</script>




<script>

//http://stackoverflow.com/questions/15040964/warning-cant-verify-csrf-token-authenticity-in-case-of-api-development

function submit_dates(){

	//console.log("date1 live? " + date1);

	//if it works, then show "successfully emailed" message
	var params = {date1: date1, date2: date2, date3: date3 }

  $.ajax({
      type: "POST",
      url: "/user/audit_request/?format=json",
      data: params,
      dataType: "json",
      traditional: true,
      async:false,
      success: function(data){
        console.log("successfully got into success");
        console.log(data.post);

        $("#successful_email").text("your request for a visit has been sent");

      }

    });

}

</script>

 
</body>
</html>
 
